
Untitled.ipynb

Buổi 9 23 -05-2023/.ipynb_checkpoints/Thực hành cấu trúc điều kiện-checkpoint.ipynb

Buổi 8 20-05-2023/.ipynb_checkpoints/Điều kiện-checkpoint.ipynb

Buổi 7 18-05-2023/.ipynb_checkpoints/Nhập xuất dữ liệu và String-checkpoint.ipynb

Buổi 6 16-05-2023/.ipynb_checkpoints/Thực hành biến, kiểu dữ liệu, toán tử-checkpoint.ipynb

Buổi 24 01-07-2023/.ipynb_checkpoints/Tkinter Practice 2-checkpoint.ipynb

Buổi 23 29-06-2023/.ipynb_checkpoints/Buổi 23 29-06-2023-Công cụ có thể cộng và lấy hàng-checkpoint.ipynb

Buổi 23 29-06-2023/.ipynb_checkpoints/Buổi 23 29-06-2023-checkpoint.ipynb

Buổi 22 27-06-2023/.ipynb_checkpoints/Thư viện Tkinter-checkpoint.ipynb

Buổi 22 27-06-2023/.ipynb_checkpoints/Thư viện Tkinter - grid, pack, place-checkpoint.ipynb

Buổi 18 17-06-2023/.ipynb_checkpoints/Untitled1-checkpoint.ipynb

Buổi 18 17-06-2023/.ipynb_checkpoints/Untitled-checkpoint.ipynb

Buổi 17 15-06-2023/.ipynb_checkpoints/Thực hành Dictionary-checkpoint.ipynb

Buổi 17 15-06-2023/.ipynb_checkpoints/Dictionnary-checkpoint.ipynb

Buổi 16 13-06-2023/.ipynb_checkpoints/Thực hành List và Tuple-checkpoint.ipynb

Buổi 16 13-06-2023/.ipynb_checkpoints/List and Tuple-checkpoint.ipynb

Buổi 13 06-06-2023/.ipynb_checkpoints/Thực hành module và hàm buổi 2-checkpoint.ipynb

Buổi 13 06-06-2023/.ipynb_checkpoints/Thực hành module và hàm buổi 1-checkpoint.ipynb

Buổi 13 06-06-2023/.ipynb_checkpoints/Module và hàm-checkpoint.ipynb

Buổi 11 30-05-2023/.ipynb_checkpoints/Thực hành vòng lặp for-checkpoint.ipynb

Buổi 11 30-05-2023/.ipynb_checkpoints/Cấu trúc lặp for-checkpoint.ipynb

Buổi 10 27-05-2023/.ipynb_checkpoints/Vòng lặp while-checkpoint.ipynb

Buổi 10 27-05-2023/.ipynb_checkpoints/Thực hành vòng lặp while-checkpoint.ipynb

Buôi 20 22-06-2023/.ipynb_checkpoints/Lớp và đối tượng-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

Case Study/.ipynb_checkpoints/Case Study - CRM - No Database-checkpoint.ipynb

Case Study/.ipynb_checkpoints/Case Study - CRM Database Connected-checkpoint.ipynb
